<mat-toolbar class="z-depth-2" color="primary">

  <div class="container">
    <div class="row">
      <div class="col-sm">


        <a href="/"> <img class="logo_img" src="assets/img/logo.png"> </a>
        <!-- <span class="example-spacer"></span> -->


        <button class="float-right" mat-raised-button color="accent" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">{{ 'BUTTONS.LOGIN' | translate }}</button>
        <button class="float-right" mat-raised-button color="accent" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">{{ 'BUTTONS.LOGOUT' | translate }}</button>


        <span class="float-right" class="custom-margin">      

          <button mat-button [matMenuTriggerFor]="menu"> {{langSelected}} </button>
          <mat-menu #menu="matMenu">

              <button (click) = 'setLang(lang)' mat-menu-item *ngFor="let lang of langs" [value]="lang">
                  {{lang}}
              </button>
           
          </mat-menu>


        </span>

      </div>



    </div>
  </div>


</mat-toolbar>